.upload__overlay {
    visibility: hidden;
    opacity: 0;

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .3s;
}

.upload__overlay.active {
    opacity: 1;
    visibility: visible;
}

.upload__page {
    width: 100%;
    height: 100vh;
    background: linear-gradient(240deg, rgba(55, 199, 144, 1) 0%, rgba(62, 108, 255, 1) 100%);

    transform: translateX(500px);
    transition: all .3s;

    display: flex;
    flex-direction: column;

    padding: 50px 35px;
}

.upload__overlay.active .upload__page {
    transform: translateX(0)
}

.upload__back__button {
    background: #FCEFF9 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #08070880;
    border-radius: 30px;
    padding: 8px 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 30px;

    align-self: flex-start;
    margin-bottom: 50px;
}

.upload__back__button img {
    width: 40px;
    height: 40px;

}



.upload__image {
    align-self: center;
    border: 3px solid #EEE5E9;
    border-radius: 20px;
    margin-bottom: 40px;
    position: relative;

    overflow: hidden;
    width: 315px;
    height: 315px;

    background-image: url('/public/image2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.upload__image img {
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    animation: revealImage backwards infinite cubic-bezier(.47, -.44, .49, 1.46);
    animation-duration: 2.5s;
  }
  
  @keyframes revealImage {
    0% {
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
    
    50% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    100% {
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
  }




.upload__actions {
    display: flex;
    justify-content: center;
    gap: 22px;


}

.upload__actions>button {
    background: transparent linear-gradient(135deg, #FFF7FC66 0%, #FFFFFF66 0%, #FFFFFF00 100%) 0% 0% no-repeat padding-box;
    box-shadow: inset 3px 3px 6px #EEE5E9;
    border-radius: 20px;
    opacity: 1;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    font-weight: bold;
    color: white;

    width: 50%;
    padding: 15px 30px;

    font-family: 'SF Pro Display';
    font-weight: 600;
    font-size: 15px;
}

.upload__actions>button>img {
    width: 100%;
    height: 58px;
}