@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  outline: none;
  
  font-family: sans-serif;
}

body {
  background: transparent linear-gradient(180deg, #6600FF 0%, #00CC99 100%) 0% 0% no-repeat padding-box;
  height: 100%;
}

body.overflow-hidden {
  overflow: hidden
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../public/fonts/SFPro/SFProDisplay-Thin.eot');
    src: local('SF Pro Display Thin'), local('SFProDisplay-Thin'),
        url('../public/fonts/SFPro/SFProDisplay-Thin.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/SFPro/SFProDisplay-Thin.woff2') format('woff2'),
        url('../public/fonts/SFPro/SFProDisplay-Thin.woff') format('woff'),
        url('../public/fonts/SFPro/SFProDisplay-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../public/fonts/SFPro/SFProDisplay-Regular.eot');
    src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
        url('../public/fonts/SFPro/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/SFPro/SFProDisplay-Regular.woff2') format('woff2'),
        url('../public/fonts/SFPro/SFProDisplay-Regular.woff') format('woff'),
        url('../public/fonts/SFPro/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}